{{ if ne .Values.env "dev" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
{{ include "sbomer.labels" (list . "service") | indent 2 }}
spec:
  selector:
{{ include "sbomer.selector" (list . "service") | indent 4 }}
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
{{ end }}