#
# JBoss, Home of Professional Open Source.
# Copyright 2023 Red Hat, Inc., and individual contributors
# as indicated by the @author tags.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

quarkus:
  swagger-ui:
    always-include: true
    path: /api
  datasource:
    db-kind: postgresql
  smallrye-openapi:
    info-title: SBOMer service
  hibernate-orm:
    database:
      generation: update
  qpid-jms:
    url: "${UMB_BROKER_URL}"
  log:
    level: INFO
    category:
      "org.jboss.sbomer":
        level: DEBUG

sbomer:
  api-url: "https://${SBOMER_ROUTE_HOST}/api/v1alpha1/"
  # See documentation about features and feature flags
  features:
    umb:
      enabled: true
      consumer:
        enabled: true
        topic: "${CONSUMER_TOPIC}"
        trigger: product
      producer:
        enabled: true
        topic: "${PRODUCER_TOPIC}"
        retries: 15
        max-back-off: 30
    taskruns:
      cleanup-successful: true
      retries:
        enabled: true
        max-retries: 10

  generation:
    enabled: true
    default-generator: cyclonedx
    generators:
      domino:
        default-version: "0.0.88"
        default-args: "--include-non-managed"
      cyclonedx:
        default-version: "2.7.8"
        default-args: "--batch-mode --no-transfer-progress --quiet"

  processing:
    enabled: true
    auto-process: true
    # List of default processors that will be run on every generated SBOM
    default-processors:
      - name: "default"
      - name: "redhat-product"

"%dev":
  quarkus:
    devservices:
      enabled: false
    # class-loading:
    #  parent-first-artifacts: io.quarkus:quarkus-bootstrap-maven-resolver
    datasource:
      username: username
      password: password
      jdbc:
        url: jdbc:postgresql://localhost:5432/sbomer
    hibernate-orm:
      database:
        generation: drop-and-create
      log:
        sql: true
    smallrye-openapi:
      info-title: SBOMer service (development)
    qpid-jms:
      url: amqp://localhost:5672
      username: ""
      password: ""

  sbomer:
    api-url: "http://localhost:8080/api/v1alpha1/"
    features:
      umb:
        enabled: false
        consumer:
          enabled: false
        producer:
          enabled: false

"%test":
  quarkus:
    devservices:
      enabled: false
    datasource:
      db-kind: h2
      jdbc:
        url: jdbc:h2:mem:default;DB_CLOSE_DELAY=-1;INIT=RUNSCRIPT FROM 'classpath:init.sql'
    hibernate-orm:
      database:
        generation: drop-and-create
    qpid-jms:
      url: amqp://localhost:5672
      username: ""
      password: ""

  sbomer:
    api-url: "http://localhost:8080/api/v1alpha1/"
    features:
      umb:
        enabled: true
        consumer:
          enabled: true
          topic: "Consumer.pncsbomer.testing.VirtualTopic.eng.pnc.builds"
        producer:
          enabled: false
