#
# JBoss, Home of Professional Open Source.
# Copyright 2023 Red Hat, Inc., and individual contributors
# as indicated by the @author tags.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

quarkus:
  application:
    version: dev

  datasource:
    username: sbomer
    password: password
    jdbc:
      url: jdbc:postgresql://localhost:5432/sbomer
  hibernate-orm:
    database:
      generation: drop-and-create
    log:
      sql: true

  opentelemetry:
    enabled: false

sbomer:
  api-url: "http://localhost:8080/api/v1alpha1/"

  controller:
    generation-request:
      # Path to the directory that is mounted within minikube on a path
      # being the "sbomer-sboms" PersistentVolume
      sbom-dir: "/tmp/sbomer"

  features:
    umb:
      enabled: false
      consumer:
        enabled: false
      producer:
        enabled: false
