apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: sbomer-init
{{ include "sbomer.labels" (list .) | indent 2 }}
spec:
  params:
    - name: build-id
      type: string
      description: "PNC build identifier"
  steps:
    - name: generate
      image: {{ .Values.generator.image.repository }}:{{ .Values.generator.image.tag }}
      imagePullPolicy: {{ .Values.generator.image.pullPolicy }}
      resources:
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 200m
          memory: 300Mi
      env:
        - name: PNC_SERVICE_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-config
              key: PNC_SERVICE_HOST
        - name: SBOMER_PRODUCT_MAPPING_ENV
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-config
              key: SBOMER_PRODUCT_MAPPING_ENV
      script: |
        #!/usr/bin/env bash

        set -e
        set -x

        exec /workdir/.sdkman/candidates/java/17/bin/java -jar ./generator/quarkus-run.jar -v sbom auto generate-config --build-id "$(params.build-id)" --format yaml --target "$(results.config.path)"
  results:
    - name: "config"
      description: "Runtime configuration"
