@use '@carbon/styles';

.tag-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.tag-link {
  text-decoration: none;
  margin: 0.2rem;
  overflow: visible;
  display: inline-flex;
  align-items: center;
  cursor: pointer !important;
}

.tag-link,
.tag-link * {
  cursor: pointer;
}

.tag-tooltip,
.tag-tooltip * {
  cursor: pointer;
}
