#
# JBoss, Home of Professional Open Source.
# Copyright 2023 Red Hat, Inc., and individual contributors
# as indicated by the @author tags.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

microprofile:
  rest:
    client:
      disable:
        default:
          mapper: true

quarkus:
  banner:
    enabled: false

  rest-client:
    "gerrit":
      url: "https://${sbomer.gerrit.host}"
    "gitlab":
      url: "https://${sbomer.gitlab.host}"
    "sbomer":
      url: "${sbomer.host}"

  log:
    level: INFO
    category:
      "org.jboss.sbomer":
        level: DEBUG
    console:
      format: "%d{HH:mm:ss,SSS} %-5p [%c{3.}] (%t) %s%e mdc:[%X]%n"
      stderr: true
  oidc-client:
    client-enabled: true
    auth-server-url: http://localhost:8180/auth/realms/quarkus
    client-id: quarkus-app
    credentials:
      secret: secret

sbomer:
  ## (required)
  ## Hostname of the SBOMer service
  host: http://localhost:8080
  pnc:
    ## Product mapping environment, by default production mapping will be used
    product-mapping: "prod"
  ## Gerrit configuration
  # gerrit:
  #   host:
  ## GitLab configuration
  # gitlab:
  #   host:
  koji:
    hub-url: "https://${sbomer.koji.hub.host}/brewhub"
    web-url: "https://${sbomer.koji.web.host}/brew"

"%dev":
  quarkus:
    log:
      category:
        "io.quarkus.kubernetes":
          level: DEBUG
      console:
        json:
          ~: false
    oidc-client:
      client-enabled: false

  sbomer:
    pnc:
      host: "localhost:7070/pnc/orch"

"%test":
  quarkus:
    log:
      console:
        json:
          ~: false
    oidc-client:
      client-enabled: false


  sbomer:
    pnc:
      host: "localhost:7070/pnc/orch"
