name: Build and verify source code

on:
  workflow_call:

jobs:
  build-image:
    runs-on: ubuntu-latest
    name: "Build and Verify"
    steps:
      # - uses: ./.github/actions/checkout
      - uses: actions/checkout@v4
        if: github.event_name == 'pull_request'
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/checkout@v4
        if: github.event_name != 'pull_request'

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        run: mvn --batch-mode -V -U verify -Dsurefire.useFile=false

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test Results
          path: "**/target/surefire-reports/**/*.xml"
          reporter: java-junit

      - name: Download Service
        uses: actions/upload-artifact@v4
        with:
          name: dist-service
          path: |
            service/target/quarkus-app

      - name: Download CLI
        uses: actions/upload-artifact@v4
        with:
          name: dist-cli
          path: |
            cli/target/quarkus-app
