name: Build and verify source code

on:
  workflow_call:

jobs:
  build-image:
    runs-on: ubuntu-latest
    name: "Build and Verify"
    steps:
      - uses: project-ncl/sbomer/.github/actions/checkout@main
        if: github.event_name == 'pull_request_target'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          triggering-actor: ${{ github.triggering_actor }}
          repo-ref: ${{ github.event.pull_request.head.ref }}
          repo-full-name: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: actions/checkout@v5
        if: github.event_name != 'pull_request_target'

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        run: mvn --batch-mode -V -U verify -Dsurefire.useFile=false jacoco:report

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: Test Results
          path: "**/target/surefire-reports/**/*.xml"
          reporter: java-junit

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: |
            ${{ github.workspace }}/**/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 40
          min-coverage-changed-files: 60

      - name: Upload Service
        uses: actions/upload-artifact@v4
        with:
          name: dist-service
          path: |
            service/target/quarkus-app

      - name: Upload CLI
        uses: actions/upload-artifact@v4
        with:
          name: dist-cli
          path: |
            cli/target/quarkus-app
