name: Build and verify source code

on:
  workflow_call:

jobs:
  build-image:
    runs-on: ubuntu-latest
    name: "Build and Verify"
    steps:
      - uses: project-ncl/sbomer/.github/actions/checkout@main
        if: github.event_name == 'pull_request_target'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          triggering-actor: ${{ github.triggering_actor }}
          repo-ref: ${{ github.event.pull_request.head.ref }}
          repo-full-name: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: actions/checkout@v5
        if: github.event_name != 'pull_request_target'

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Build
        run: |
          cd ui
          npm install
          npm run build

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist-ui
          path: |
            ui/dist
